<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="asserts/vedioweb/assets/images/favicon.png">

    <!-- CSS 
    ================================================== -->
    <link rel="stylesheet" href="asserts/vedioweb/assets/css/style.css">
    <link rel="stylesheet" href="asserts/vedioweb/assets/css/framework.css">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="asserts/vedioweb/assets/css/icons.css">

    <link rel="stylesheet" type="text/css" href="asserts/bilibili/test.css"/>

    <!-- <link rel="stylesheet" type="text/css" href="asserts/css/demo.css"> 演示页面样式，使用时可以不引用 -->
    <link rel="stylesheet" href="asserts/css/main.css">
    <link rel="stylesheet" href="asserts/dist/sortable.min.css">
    <script type="text/javascript" src="asserts/dist/sortable.min.js"></script>

    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        <div th:replace="commons/mainbar::sidebar"></div>

        <!-- header -->
        <div th:replace="commons/mainbar::header"></div>


        <!-- contents -->
        <div class="main_content">
            <div class="main_content_inner">
                <div class="channal">
                    <div class="channal-cover">
                        <!-- channal cover -->
                        <img src="asserts/vedioweb/assets/images/channnal-cover.jpg" alt="">
                    </div>

                    <div class="main_content_inner">
                        <div class="channal-details">
                            <div class="left-side">
                                <div class="channal-image">
                                    <a href="#">
                                        <img src="asserts/vedioweb/assets/images/avatars/avatar-3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="channal-details-info">
                                    <h3 th:text="${author.username}"> </h3>
                                </div>
                            </div>
                            <div class="right-side">
                                <div class="btn-subscribe">
                                    <a href="#" class="button soft-warning"> <i class="icon-feather-plus"></i> subscribe</a>
                                </div>
                            </div>
                        </div>

                        <div class="nav-channal" k-sticky="offset:61;media : @s">
                            <nav class="responsive-tab">
                                <ul>
                                    <li class="uk-active"><a href="#0">相册</a></li>
                                    <li><a th:href="@{/showmyfans}+${author.id}" class="active">关注</a></li>
                                    <li><a href="#0">粉丝</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>

                <div class="wrapper">
                    <div id="sortable" class="sjs-default">
                        <div data-sjsel="flatty" th:each="photo:${photos}">
                            <div class="card">
                                <img class="card__picture" th:src="@{${photo.url}}" alt="">
                                <div class="card-infos">
                                    <a th:href="www.baidu.com"><h2 class="card__title">Example 1</h2></a>
                                    <p class="card__text">
                                        <a th:href="@{/buy}+${photo.id}">orem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
                </div>

            </div>


    <!-- javaScripts
                ================================================== -->
    <script src="asserts/vedioweb/assets/js/framework.js"></script>
    <script src="asserts/vedioweb/assets/js/jquery-3.3.1.min.js"></script>
    <script src="asserts/vedioweb/assets/js/simplebar.js"></script>
    <script src="asserts/vedioweb/assets/js/main.js"></script>

    <!--主体js-->
    <script type="text/javascript">
        document.querySelector('#sortable').sortablejs()
    </script>

</body>

</html>